
$dockbarOpenGradientEnd: #ffffff; 
$dockbarOpenGradientStart: #efefef;

$lightMainColor: #67B2E8;
$standarLiferayWhite: #FFFFFF;

$lightAlterColor: #B6BD00;

$lightGrey: #DDD;
$standardGrey: #555;
$darkGrey: #232222;

$activeResponsiveMenu: #F5AF45;

$dockbarVerticalWidth: 240px;



/* ---------- Dockbar-vertical Responsive Styles ---------- */
	
html.aui .core-2.mobDockbar {

		.navbar-static-top {
		}

		#_145_navSiteNavigationNavbarBtn, #_145_navAddControlsNavbarBtn, #_145_navAccountControlsNavbarBtn {
			}

		.dockbar.navbar {
			.dockbar-user-notifications .dropdown-toggle .user-notifications-count,
			.user-avatar .dropdown-toggle .nav-item-label {
			}

			.container .nav-collapse {
			}
		}
}

/*WELIVE - Icone Nav in base alla posizione*/

html.aui .core-2{

	ul#nav_tools li:nth-child(1) a::before {
	  	content: "\f015"; /*Home - icon-home*/
	  	font-family: "fontawesome-alloy";
	}
	ul#nav_tools li:nth-child(2) a::before{
		content: "\f21b"; /*Citizen Data Vault - fa-user-secret*/
		font-family: FontAwesome;
	}
	ul#nav_tools li:nth-child(3) a::before {
		content: "\f0eb"; /*Ideario - icon-lightbulb*/
		font-family: "fontawesome-alloy";
	}
	ul#nav_tools li:nth-child(4) a::before{
		content: "\f1b3"; /*Visual Composer - fa-cubes*/
		font-family: FontAwesome;
	}
	ul#nav_tools li:nth-child(5) a::before {
	  	content: "\f07a"; /*Marketplace - icon-shopping-cart*/
	  	font-family: "fontawesome-alloy";
	}
	ul#nav_tools li:nth-child(6) a::before{
		content: "\f1c0"; /*Opendata Stack - fa-database*/
		font-family: FontAwesome;
	}
	ul#nav_tools li:nth-child(7) a::before{
		content: "\f200"; /*Analytics Dashboard - fa-pie-chartt*/
		font-family: FontAwesome;
	}
	
	ul#nav_tools ul.child-menu li a::before {
	  	content:"\f105"; /*Child menu - fa-angle-right */
	  	font-family: "FontAwesome";
	  	margin-left: 4px;
	 	margin-right: 4px;
	}

	
		/*HREF Metod*/
	/*Home/Controller - icon-home*/
	ul#nav_tools li a[href*="overlay"]::before {
	  	content: "\f015"; 
	  	font-family: "fontawesome-alloy";
	}
	/*OpenInnovatioArea - icon-lightbulb*/
	ul#nav_tools li a[href*="innovation-area"]::before {
		content: "\f0eb"; 
		font-family: "fontawesome-alloy";
	}
	/*Marketplace - icon-shopping-cart*/
	ul#nav_tools li a[href*="marketplace"]::before {
	  	content: "\f07a"; 
	  	font-family: "fontawesome-alloy";
	}
	/*Opendata Stack - fa-database*/
	ul#nav_tools li a[href*="open-data-stack"]::before{
		content: "\f1c0"; 
		font-family: FontAwesome;
	}
	/*Analytics Dashboard - fa-pie-chartt*/
	ul#nav_tools li a[href*="ads"]::before{
		content: "\f200"; 
		font-family: FontAwesome;
	}
	/*Visual Composer - fa-cubes*/
	ul#nav_tools li a[href*="visual-composer"]::before{
		content: "\f1b3"; 
		font-family: FontAwesome;
	}
	/*Citizen Data Vault - fa-user-secret*/
	ul#nav_tools li a[href*="citizen-data-vault"]::before{
		content: "\f21b";
		font-family: FontAwesome;
	}
	
	ul#nav_tools ul.child-menu {
	}

}	


/*ROB*/

html.aui body.core-2.mobDockbar {
	
	#banner #heading .nav-wrapper .logo.default-logo.brand-logo, 
	#banner #heading .nav-wrapper .logo.custom-logo.brand-logo {
	}
	
	.sign-out {
	}
	.dockmobile {
	}
	
	.side-nav {
	}

	.side-nav li:hover, 
	.side-nav li.active {
	  background-color: transparent;
	}
	
	.side-nav li.innerMaterialize:hover {
	  background-color: transparent;
	}
	
	.dockbar-split .portlet-dockbar .dockbar, 
	.portlet-dockbar .dockbar {
	}
	
	.dockbar .navbar-inner .nav-collapse > .nav {
	  background: transparent none repeat scroll 0 0;
	}
	
	.dockbar .navbar-inner .nav li a {
	  color: inherit;
	}
	
	.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, 
	.dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	.dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  color: inherit;
	}
	
	.dockbar .navbar-inner .nav li.dropdown.dropdown {
	}
	.dockbar .navbar-inner .nav li.dropdown.dropdown:hover {
	  background-color: transparent; /*$lightGrey;*/
	}
	.dockbar .navbar-inner .nav-collapse .nav li.dropdown.open .dropdown-toggle {
	  color: inherit;
	}
	
	.portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li .dropdown-menu {
	  background-color: transparent;
	  border: 1px solid $lightGrey;
	}

	
	.dockbar-user-notifications .actionable, 
	.dockbar-user-notifications .non-actionable {
	  background-color: #fff;
	}
	
	.portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li .user-notifications-header a {
	}
	.portlet-dockbar li.dockbar-user-notifications a.dropdown-toggle span.user-notifications-count {
	}
	.portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li .dropdown-menu {
	  background-color: white;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open .dropdown-menu li > a, 
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open .dropdown-menu li > span,
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open ul.dropdown-menu li > a,
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open ul.dropdown-menu li > span {
	  color: $lightMainColor;
	}
	
	.dockbar .navbar-inner .nav-account-controls .user-avatar-image {
	}
	.dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image {
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.user-avatar.dropdown.open .dropdown-menu li {
	  
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.user-avatar-link.dropdown-toggle {
	 
	}
	
	li.user-avatar ul.dropdown-menu li a .badge.site-type {
	  color: $lightMainColor;
	}


	
/* 	Administrator buttons */

	ul.nav li.dropdown {
	}

	#_145_navAddControlsNavbarCollapse ul.nav {
	  background-color: $lightMainColor;
	  border: 1px solid $lightMainColor;
	}
	#_145_navAddControlsNavbarCollapse ul li {
	}
	#_145_navAddControlsNavbarCollapse ul li a {
	}
	#_145_navAddControlsNavbarCollapse ul li a i {
	}
	#_145_navAddControlsNavbarCollapse ul li a span {
	  color: $darkGrey;
	}

}


