
<div class="materialize">

<!-- Modal WebStorage Alert -->

  <div id="modal_alert" class="modal">
    <div class="modal-content">
      <h5 class="core-color-text text-color-3 center">#language("theme.alert.title")</h5>
      <p class="flow-text">#language("theme.alert.problem")</p>
      <p class="flow-text">#language("theme.alert.reason")</p>
      <p class="flow-text">#language("theme.alert.solution")</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect btn-flat">#language("theme.close")</a>
    </div>
  </div>
  
</div>