@import "compass";
@import "mixins";

 $maincolor: #232222;
 $maincolor-dark: #000000;
 $maincolor-light: #CAC8C8;
 
 $red: #F7323F;
 $lightblue: #67B2E8;
 $green: #B6BD00;
 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;

/*************************DOCKBAR*/
html.aui body[class~="core-2"] .navbar-fixed-top .navbar-inner, 
html.aui body[class~="core-2"] .navbar-static-top .navbar-inner {
}

html.aui body[class~="core-2"] #_145_navSiteNavigation {
}

html.aui body[class~="core-2"] .dockbar .nav li.dropdown .dropdown-menu > li > a, 
html.aui body[class~="core-2"] .dockbar .nav li.dropdown .site-administration-menu > li > a {
  color: #fff;
}

html.aui body[class~="core-2"] .navbar .nav > li > .dropdown-menu::before, 
html.aui body[class~="core-2"] .navbar .nav > li > .dropdown-menu::after {
}
			
/*************************HEADER*/


html.aui body[class~="core-2"] #banner {
  background-color: transparent;
}


html.aui body[class~="core-2"] #heading .site-title {
}

html.aui body[class~="core-2"] .logo, .aui .logo:hover {
  color: $maincolor;
}

html.aui body[class~="core-2"] h2.page-title {
  background-color: #fff;
  border-bottom: 1px solid $maincolor;
  border-top: 1px solid $maincolor;
}
html.aui body[class~="core-2"] h2.page-title {
  background-color: #fff;
  border-bottom: 1px solid $maincolor;
  border-top: 1px solid $maincolor;
}

html.aui body[class~="core-2"] h2.page-title a.avatar {
}

html.aui body[class~="core-2"] a#gotoHome {
  background: none repeat scroll 0 0 $maincolor;
  color: white;
}

html.aui body[class~="core-2"] a#gotoHome:hover, 
html.aui body[class~="core-2"] a#gotoHome:active {
  background: none repeat scroll 0 0 $maincolor;
  color: $maincolor-light;
}
html.aui body[class~="core-2"] .so-portlet-user-bar a.so-logo{
}

/***********************NAVIGATION*/

html.aui body[class~="core-2"] .menu-button:hover, 
html.aui body[class~="core-2"] .menu-button.pressed {
  background: none repeat scroll 0 0 $maincolor;
  color: $maincolor-light;
}

#navigation h1 {
}

html.aui body[class~="core-2"] #navigation ul {
}

html.aui body[class~="core-2"] #navigation ul li {
}

html.aui body[class~="core-2"] #navigation ul li a,
html.aui body[class~="core-2"] #navigation ul li a:active, 
html.aui body[class~="core-2"] #navigation ul li a:focus  {
  color: $maincolor;
}
html.aui body[class~="core-2"] #navigation ul li a:hover {
  background: none repeat scroll 0 0 transparent;
  color: $lightblue;
}

html.aui body[class~="core-2"] #navigation ul li a span {
}

html.aui body[class~="core-2"] #navigation li.selected {
  color: $lightblue;
}

html.aui body[class~="core-2"] #navigation li.selected a {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
  color: $lightblue;
}

/*************************SEARCH*/


/*************************CONTENT*/

html.aui body[class~="core-2"] #main-content {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

html.aui body[class~="core-2"] .portlet-column-content {
  border: 0 solid #d9d8d8;
}