@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/variables";
@import "compass";
@import "compass/css3/user-interface";
@import "mixins";

@import url(core/color_schemes/core-1/dockbar_vertical.css);
@import url(core/color_schemes/core-2/dockbar_vertical.css);
@import url(core/color_schemes/core-3/dockbar_vertical.css);
@import url(core/color_schemes/core-4/dockbar_vertical.css);
@import url(core/color_schemes/core-5/dockbar_vertical.css);

$dockbarOpenGradientEnd: #ffffff; 
$dockbarOpenGradientStart: #efefef;

$lightMainColor: #67B2E8;
$standarLiferayWhite: #FFFFFF;

$lightAlterColor: #B6BD00;

$lightGrey: #DDD;
$standardGrey: #555;
$darkGrey: #232222;

$activeResponsiveMenu: #F5AF45;

$dockbarVerticalWidth: 240px;




.aui {
	body {
		font-weight: 200;
	}

	a {
		font-weight: 200;

		&:hover {
		}

		[class^="icon-"], [class*=" icon-"] {
			display: inline-block;
		}
	}

	.alert {
		word-wrap: break-word;
	}

	li {
		line-height: 27px;
	}

	.dockbar {
		&.navbar .navbar-inner {
			min-height: 40px;
		}

		.navbar-inner {

 			
			.nav {
				> li {
				}
			}

			.container .btn-navbar {ì

				.user-avatar-image {
					position: relative;
					top: 2px;
					width: 28px;
				}
			}
		}

		.nav {
			> li {

				> a {
					line-height: 31px;
					margin: 0 5px 0 0;
					padding: 6px 10px;

					&:focus, &:hover {
					}

					&:hover {
					}

					[class^="icon-"], [class*=" icon-"] {
						margin-top: 3px;
					}
				}

				&.active > a {

					&, &:hover, &:focus {
					}
				}

				&.open .dropdown-toggle { 
				}
			}

			%dockbar-caret {
				&, &:hover {
					.caret {
					}
				}
			}

			li.dropdown {
				> .dropdown-toggle {
					@extend %dockbar-caret;
				}

				&.open, &.active, &.open.active {
					> .dropdown-toggle {
						@extend %dockbar-caret;
					}
				}

				.dropdown-menu, .site-administration-menu {
					border-width: 0;
					left: 0;
					margin: 0;
					right: auto;

					> li > a {
						font-size: 0.9em;
						font-weight: 300;

						&:focus, &:hover {
						}

						[class^="icon-"], [class*=" icon-"] {
							margin-right: 3px;
						}

						.icon-spacer {
							margin-right: 17px;
						}
					}

					li.active > a {
					}
				}

				.dropdown-menu {
					overflow-x: hidden;
					overflow-y: auto;

					&:after, &:before {
						border-width: 0;
					}
				}
			}

			li.dropdown.user-avatar {
				.dropdown-menu {
					left: auto;
					right: 0;
				}
			}
		}

		.divider-vertical {
			display: none;
		}
	}

	.app-view-taglib .lfr-header-row-content .select-all-entries {
		left: 7px;
		top: 14px;
	}

	.navbar {
		.btn-group, .navbar-search {
			margin-bottom: 8px;
			margin-top: 8px;
		}

		.btn-navbar {
			padding: 10px;
		}

		.container .btn-navbar {

			&:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
			}

			.icon-bar {
			}
		}

		.icon-caret-down {
			font-size: 14px;
			height: auto;
			margin-left: 5px;
			padding: 1px 4px;
			width: auto;
		}

		.nav > li.open > a {
			text-decoration: none;
		}

		.navbar-inner {
			min-height: 47px;
		}
	}

	/* ---------- Nav#Navigation ---------- */

	.modify-pages .delete-tab {
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 300;

		&:hover {
		}
	}

	/* ---------- Extras ---------- */

	$prefixes: ("-webkit-", "-moz-", "-o-", "");

	@each $prefix in $prefixes {
		::#{$prefix}selection {

		}
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
	}

	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="password"], input[type="text"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], textarea, .uneditable-input {
		@include border-radius(0);

		&:focus {
		}
	}

	.tagselector-focused .tagselector-content .textboxlistentry-holder {
	}

	.dockbar {
		.nav {
			> li {
				> a {
				}
			}

			li.dropdown {
				.dropdown-menu {
					@include border-radius(0);
				}
			}
		}

		.container .btn, .nav li.dropdown.user-avatar {
			.user-avatar-image {
				@include border-radius(50%);
			}
		}
	}

	.navbar {
		.container .btn {
			&, .icon-bar {
			}
		}

		.icon-caret-down {
			@include border-radius(50%);
		}

		.nav {
			> li.open > a {
			}
		}
	}

	.dockbar .container .btn {
		@include box-shadow(none);
	}

	.dockbar-user-notifications {
		.dropdown-toggle .user-notifications-count {
		}

		.user-notifications-header {
		}
	}

	body.yui3-skin-sam .yui3-widget-mask {
		@include opacity(0.8);
	}

	&.ie {
		.dockbar, #navigation {
			.navbar-inner {
				filter: none;
			}
		}
	}
}

/* ---------- Classic Dockbar Responsive Styles ---------- */

@include respond-to(phone, tablet) {
	.aui {
		* {
		}

		#heading {
			bottom: 100%;
			margin-top: -2em;
			position: relative;

			.site-title {
				font-size: 26px;

				img {
					width: 35px;
				}
			}
		}

		#navigation {
			display: none;

			&.open {
				display: block;

				.navbar-inner {
					padding: 10px;

					@include border-radius(3px);

					.nav-collapse {
						height: auto;
						overflow: visible;
					}
				}
			}

			.nav {
				margin: 0;
			}
		}

		.dockbar {
			float: right;
			height: auto;
			position: relative;
			z-index: 401;

			.info-items {
				height: auto;
				position: static;
				width: 300px;
			}

			.navbar-inner {
				width: auto;

				.btn-navbar {
					float: left;
					font-size: 24px;
					padding: 12px 15px;

					&:hover {
					}

					&.open {
					}
				}

				.nav-account-controls {
					padding: 0 5px;

					.user-avatar-image {
						display: none;
					}
				}

				.nav-add-controls {
					border-top-width: 0;
					padding: 0 5px;
					position: static;
					z-index: 350;

					> li {
						float: none;
						margin: 0;
						position: relative;

						&.toggle-controls a {
							clip: rect(auto auto auto auto);
							position: static;
							visibility: visible;
						}

						.page-preview-controls {
							display: none;
						}

						> a {
							text-align: left;
							white-space: nowrap;

							&:hover {
							}

							[class^="icon-"], [class^="icon-"], [class*=" icon-"] {
								font-size: 22px;
								margin-top: 0;
							}

							&.toggle-controls-link {

								[class^="icon-"], [class^="icon-"], [class*=" icon-"] {
								}
							}

							.nav-item-label {
								display: inline;
								left: 0;
								margin-left: 0;
								margin-top: 0;
								padding: 0;
								position: relative;
							}

							&:hover .nav-item-label {
								display: inline;
							}

							.icon-caret-down {
								display: none;
							}
						}
					}
				}

				.nav-collapse {
					z-index: 400;

					&.open {
						overflow: visible;
					}

					> .nav {
						border-width: 0;
						left: auto;
						margin: 0;
						min-width: 160px;
						position: absolute;
						right: 0;
						z-index: 400;

						> li {
							&.dropdown {
								.dropdown-menu li a {
									font-size: 14px;
									line-height: 18px;
								}

								&.open {
									> .dropdown-toggle {
									}
								}
							}

							> a {
								font-size: 16px;
								margin: 5px 0;
								padding: 6px 15px;

								&:focus, &:hover {
								}
							}
						}
					}
				}
			}
		}

		.portlet-dockbar {
			display: inline-block;
			width: 100%;
		}

		.signed-out #_145_navAddControlsNavbarBtn {
			display: none;
		}
	}
}

/* ---------- Dockbar-vertical  ---------- */

.aui {
	.lfr-has-dockbar-vertical {
		padding-left: $dockbarVerticalWidth;

		.layer-mobile {
			cursor: pointer;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 0;

			@include opacity(0.7);
		}
	}

	.lfr-has-add-content {
		padding-left: 350px;
	}

	.lfr-has-edit-layout {
		padding-left: 460px;
	}

	.adm-toggle-dockbar {
		/*display: none;*/
	}

	.core.dockbar-vertical {


		.portlet-dockbar {
			.navbar {
				height: 100%;
				left: -5px;
				overflow: hidden;
				position: fixed;
				top: 0;
				width: 5px;
				z-index: 3;

				@include transition(all 0.2s ease-in-out);

				&.over {
					left: 0;
					width: $dockbarVerticalWidth;

					@include transition(all 0.3s ease-in-out);

					.navbar-inner {
						width: $dockbarVerticalWidth;

						@include transition(all 0.4s ease-in-out);

						.nav-collapse ul.nav li.user-avatar>a {
							background-position: right bottom;
						}
					}
				}

				.navbar-inner {
					height: 100%;
					overflow: auto;
					padding: 0;
					width: 120px;

					@include transition(all 0.2s ease-in-out);

					.nav-collapse {
						ul.nav {
							margin: 0;
							padding: 0;
							width: 100%;

							li {
								width: 100%;

								&.user-avatar {
									&>a {
										background-size: cover;
										padding-top: 15px;
										text-align: center;

										@include transition(all 8s ease-out);
									}

									img {
										display: block;
										height: 40%;
										margin: 0 auto;
										padding: 0;
										width: 40%;

										@include transition(all 0.3s ease-in-out);
									}

									&:hover {

										img {
											height: 40%;
											padding: 0;
											width: 40%;

											@include transition(all 0.3s ease-in-out);
										}
									}

									.dropdown-menu {
/* 										display: block; */

										li {
										  float: left;
										  width: 100%;
										}
									}
								}

								&.dockbar-user-notifications {
									.user-notifications-count {
										display: inline;
									}

									a {
										white-space: inherit;
									}
								}

								a {
									margin: 0;
								}

								ul {
									padding: 0;
									position: relative;
									width: 100%;
								}
							}
						}

						ul.nav-add-controls {
							li {
								float: left;
								text-align: center;
								width: 25%;

								a span {
									display: none;
									font-size: 70%;
									line-height: 15px;
									margin-top: -8px;
									padding: 0 0 5px;
									white-space: nowrap;
								}

								&:hover {
									a {
										padding: 4px;

										span {
											display: block;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ---------- Dockbar-vertical Responsive Styles ---------- */

@include respond-to(phone, tablet) {
	.aui .core.dockbar-vertical {
	
		&.lfr-has-dockbar-vertical {
			overflow: hidden;
		}

		.navbar-static-top {
			margin: 0;
		}

		#_145_navSiteNavigationNavbarBtn, #_145_navAddControlsNavbarBtn, #_145_navAccountControlsNavbarBtn {
			display: none;
		}

		.dockbar.navbar {
			.dockbar-user-notifications .dropdown-toggle .user-notifications-count {
				display: inline;
			}

			.container .nav-collapse {
				display: block;
				height: auto;
				overflow: visible;
			}
		}
	}
}



/*	ROB	*/

/*Posizionamento del logo sulla Docbar*/
#banner #heading .nav-wrapper .logo.default-logo.brand-logo,
#banner #heading .nav-wrapper .logo.custom-logo.brand-logo {
  font-size: smaller;
  height: 100%;
  line-height: 64px;
  margin: 0 0 0 10px;
  padding: 0 10px;
}
#banner #heading .nav-wrapper #logo-container b#textPilot {
  font-weight: 300;
  left: 45%;
  position: absolute;
  top: 30%;
}
#banner #heading .nav-wrapper #logo-container b#textPilot.simplePilot {
  left: 90%;
}
	
	
/* Dackbar NON Administrator (Notifiche e AccountMenu)*/
.innerMaterialize{
	
  
	.portlet-dockbar {
		box-sizing: unset;
	
		.dockbar .navbar-inner {
		  border: 0 none;
		  border-radius: 0 !important;
		  box-shadow: none;
		  padding: 0;
		}
		
		/*Notifications*/
		li.dockbar-user-notifications a.dropdown-toggle span.user-notifications-count {
		  border-radius: 2px;
		  display: inline;
		  line-height: inherit;
		  margin: 0;
		  padding: 5px;
		  position: relative;
		}
		
		.dockbar .navbar-inner .container .nav.nav-account-controls li.go-to {
			  display: none;
		}
		.dockbar-user-notifications .user-notifications-list .user-notification, 
		.notifications-portlet .user-notifications-list .user-notification {
		  display: flex;
		  float: none;
		  justify-content: space-between;
		  line-height: 20px;
		  padding: 10px;
		  position: relative;
		}	
		.dockbar .navbar-inner .container .nav.nav-account-controls li {
		  	
			a {
			  line-height: 64px;
			  cursor: pointer;
			  display: block;
			  font-size: 1rem;
			  padding: 0 10px;
			  transition: background-color 0.3s ease 0s;
			}
			a:hover {
			}
			
			a.user-notification-link{
				padding: 0 15px;
			}
			a.btn.btn-action {
			    display: inline-block;
			    line-height: 36px;
			    min-width: 110px;
			    height: auto;
			    margin: 4px 2px;
			}
			
			
			a i {
			   	border-radius: 0;
			    display: inline;
			    float: right;
			    font-size: 1.2em;
			    font-weight: 400;
			    line-height: 64px;
			    margin: 0;
			    padding: 0 0 0 14px;
			    text-align: center;
			    width: 2rem;
			}
			
			.dropdown-menu {
			  padding: 0;
			}
			

		}
		.dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open {
			
			a.dropdown-toggle {
			}
			
			.dropdown-menu {
			  display: block;
			  opacity: 1;
			  position: absolute;
			  top: 0;
			
				li {
				  clear: both;
				  cursor: pointer;
				  line-height: 1.5rem;
				  min-height: 50px;
				  text-align: left;
				  text-transform: none;
				  width: 100%;
				}
				li > a, 
				li > span {
				  display: block;
				  font-size: 16px;
				  font-weight: 400;
				  line-height: 22px;
				  padding: 12px 16px;
				}

				li a i {
				  float: none;
				  margin: 0;
				  padding: 0 4px 0 0;
				  line-height: 22px;
				}
				
				li a span.badge {
				  line-height: 0;
				  margin: 0;
				  padding: 0;
				  position: static;
				  right: 5px;
				}
			}
		}
		
		
	}

}

@import url(dockbar_vertical_mobile.css);

@import url(core/color_schemes/core-2/dockbar_vertical_mobile.css);
@import url(core/color_schemes/core-4/dockbar_vertical_mobile.css);
@import url(core/color_schemes/core-5/dockbar_vertical_mobile.css);