.aui .materialize{
	
	.navbar .btn-navbar { /*risolve problema di visualizzazione della navbar*/
	  display: none;
	  float: right;
	}
	
	.material-design-restyle{
	
		.btn-group {
			font-size: 1em;
		  	margin: 5px;
		}
		
		.button-holder {
		  padding: 16px 0;
		}
		
		button {
		  margin: 4px !important;
		}
		
	}
	
}
