@import "compass";
@import "mixins";

@import url(color_schemes/core-1/essential-responsive-social.css);
@import url(color_schemes/core-2/essential-responsive-social.css);
@import url(color_schemes/core-3/essential-responsive-social.css);
@import url(color_schemes/core-4/essential-responsive-social.css);
@import url(color_schemes/core-5/essential-responsive-social.css);

 

@media (max-width: 979px) {

	html.aui body.core.dockbar-split .dockbar.navbar-static-top .collapse {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    left: 0;
	    transition: all 0.35s ease 0s;
		-webkit-transition: all 0.35s ease 0s;
		-moz-transition: all 0.35s ease 0s;
		-o-transition: all 0.35s ease 0s;
	}
	html.aui body.core.dockbar-split .dockbar.navbar-static-top .collapse.nav-collapse.open[id*="Account"] {
	  position: absolute;
	}
	
	html.aui body.core {
	
		.dockbar-split .portlet-dockbar .dockbar, 
		.portlet-dockbar .dockbar {
		  float: right;
		  margin-right: 4px;
		  margin-left: 0px;
		  position: relative;
		  top: 24px;
		}
		.dockbar .navbar-inner .nav-collapse{
		  z-index: 400;
		  height: auto;
	  	  overflow: visible;
		}
		
		
		#heading .site-title a {
		  line-height: 35px;
		}
		#heading .site-title img {
		  vertical-align: middle;
		}
		
		.dockbar-split .portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn, 
		.portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn {
/* 		  float: right; */
		}
		.dockbar-split .portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn:hover,
		.dockbar-split .portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn.pressed, 
		.portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn:hover,
		.portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn.pressed {
/* 		  float: right; */
		}
		
/* 		.so-portlet-user-bar,  */
/* 		.so-portlet-user-bar:hover,  */
/* 		.so-portlet-user-bar:visited,  */
/* 		.so-portlet-user-bar:active { */
/* 		  line-height: 18px; */
/* 		  transform: translate3d(0em, 1.7em, 0px); */
/* 		  -webkit-transform: translate3d(0em, 1.7em, 0px); */
/* 	  	  -moz-transform: translate3d(0em, 1.7em, 0px); */
/* 	      -o-transform: translate3d(0em, 1.7em, 0px); */
/* 	      -ms-transform: translate3d(0em, 1.7em, 0px); */
/* 		} */
		
/* 		.so-portlet-user-bar a.so-logo { */
/* 		  background: transparent none repeat scroll 0 0; */
/* 		  height: auto; */
/* 		  line-height: 24px; */
/* 		  margin: 5px 4px; */
/* 		  padding: 8px 6px 5px; */
/* 		  width: auto; */
/* 		} */
/* 		.so-portlet-user-bar a.so-logo:hover { */
/* 		} */
				
		a#gotoHome {
		  background: transparent none repeat scroll 0 0;
		  color: #232222;
		  font-size: 23px;
		  height: auto;
		  line-height: 24px;
		  margin: 4px;
		  padding: 6px 6px 5px;
		  transform: translate3d(0em, 1.1em, 0px);
		  -webkit-transform: translate3d(0em, 1.1em, 0px);
		  -moz-transform: translate3d(0em, 1.1em, 0px);
		  -o-transform: translate3d(0em, 1.1em, 0px);
		  -ms-transform: translate3d(0em, 1.1em, 0px);
		  width: auto;
		}

		a#gotoHome:hover{
		  line-height: 24px;
		  transform: translate3d(0em, 1.1em, 0px);
		  -webkit-transform: translate3d(0em, 1.1em, 0px);
		  -moz-transform: translate3d(0em, 1.1em, 0px);
		  -o-transform: translate3d(0em, 1.1em, 0px);
		  -ms-transform: translate3d(0em, 1.1em, 0px);
		}
		
		button#showHideSearch, 
		button#showHideSearch:active {
		  font-size: 0.8em;
		  font-weight: bold;
		  height: 24px;
		  margin: 0;
		  padding: 0;
		  position: relative;
		  right: 0;
		  text-indent: 0;
		  top: 0;
		  width: auto;
		}
		
		
		/*Menu Account*/
		.dockbar-split .portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav, 
		.portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		}
		
		.dockbar-split .portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li, 
		.portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li {
		  border-bottom: 0 ;
		  border-top: 0 ;
		}
		
		.dockbar-split .portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li a, 
		.portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li a {
		  font-weight: normal;
		  margin: 0;
		}
		.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a, 
		.dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a {
		  font-size: 14px;
		  line-height: 64px;
		}
/* 		.dockbar.navbar-static-top .collapse { */
/* 		  position: absolute; */
/* 		  top: 10px; */
/* 		  width: 100%; */
/* 		} */

		.dockbar .nav li.dropdown .dropdown-menu, 
		.dockbar .nav li.dropdown .site-administration-menu {
		}

		/*Menu Edit*/
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"] {
		}
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link span {
		}
		.dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover i, 
		.dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover span {
		}
		.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
		.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, 
		.dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
		.dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
		}
		
		/*Menu Navigation*/
		.dockbar .navbar-inner .container .btn-navbar:hover, 
		.dockbar .navbar-inner .container .btn-navbar.pressed {
		}
		
		#navigation ul {
		    display: block;
/* 		    margin: 15px 10px; */
		}
		#navigation ul li {
			font-weight: bold;
		    line-height: 40px;
		    width: 100%;
		}
		#navigation .nav > li > a {
    		margin: 0;
		}
		.site-navigation .lfr-nav-item a span {
		    display: block;
		    line-height: 35px;
		}
	
	}/*html.aui body*/ 
}
 
 
@media (max-width: 767px) {
 	
 	
 }
 
@media (max-width: 480px) {
	
	html.aui body.core {
	
		 #heading .site-title a {
			  max-width: 120px;
		}
	}
	
}

 
 