
/* 1 Correction styles than the Main Theme Stylish */

	html.aui body[class*="core"] #main-content .microportlet-layout-portlet.portlet-boundary {
	  box-shadow: none;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  margin: 28px 0;
	  padding: 0;
	}
	html.aui body[class*="core"] .microportlet-layout-portlet .portlet-content {
	  padding: 0;
	}
	html.aui body[class*="core"] .microportlet-layout-portlet .portlet-topper menu.portlet-topper-toolbar {
	  margin: -10px 0;
	}
/* 1 END*/
	
	
/* 2 Main Style Microportlet */

.microportlet-layout-portlet {
	
	margin: 28px 0;

	/*EXTERNAL ALIGN*/
	
	.box-wrap-left {
	
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		box-orient: horizontal;
	}
	.box-wrap-center {
	
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
	}

	.box-wrap-ext {
		display: -webkit-box;
		display: -moz-box;
		display: box;
	
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
		box-align: stretch;
	
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		box-direction: normal;
	
		-webkit-box-pack: center;
		-moz-box-pack: center;
		box-pack: center;
	}
	
	.box-1-ext {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
	
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	
	.box-2-ext {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		box-ordinal-group: 2;
	}
	
	
	/*INNNER VERTICAL ALIGN*/
	
	.box-wrap-inner {
		display: -webkit-box;
		display: -moz-box;
		display: box;
	
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
		box-align: stretch;
	
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		box-direction: normal;
	
		-webkit-box-pack: center;
		-moz-box-pack: center;
		box-pack: center;
	}
	
	.box-1-inn {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	
	.box-2-inn {
		-webkit-box-flex: 4;
		-moz-box-flex: 4;
		box-flex: 4;
	
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		box-ordinal-group: 2;
	}
	
	.box-3-inn {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		box-ordinal-group: 3;
	}

	/* Header Bar */
	.portlet-topper {
	  background: none repeat scroll 0 0 transparent;
	  bottom: -10px;
	  float: right;
	  height: 30px;
	  width: 100px;
	  top: -20px;
	}

	.btn-group {
	  display: inline-block;
	  font-size: 0;
	  position: relative;
	  vertical-align: middle;
	  white-space: nowrap;
	  width: 33px;
	}
	.icon-cog {
	  padding: 7px 8px;
	}
	
	.portlet-title-text {
	  display: none;
	}
	.portlet-title {
	  display: none;
	}
	
	
	
	 /* IMAGE */
 	
 	.microportlet-img {
	  background-color: transparent;
	  background-image: url("../imgs/center-img.jpeg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
 	
 	.microportlet-img-center {
	  background-position: 50% 50%;
	  height: 15em;
/* 	  width: 100%; */
	  
/* 		-webkit-border-top-left-radius: 2px; */
/* 		-webkit-border-top-right-radius: 2px; */
/* 		-moz-border-radius-topleft: 2px; */
/* 		-moz-border-radius-topright: 2px; */
/* 		border-top-left-radius: 2px; */
/* 		border-top-right-radius: 2px; */
	 	border-radius: 0px;
	}
 	.microportlet-img-left {
	  background-position: 10% 50%;
/* 	  height: 100%; */
	  width: 15em;
	  
		-webkit-border-top-left-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	 
	}

	
	.microportlet-wrapper{
	  	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	  	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  		margin-top: -31px;
  		border-radius: 2px;
		width: 100%;
	}
	
	
	.microportlet-layout-portlet{
		width: 100%;
	}

	.microportlet-content{
		width: 100%;
	}
	
	
	/* HEADER */
	.micro-header {
	  background-color: transparent;
	  display: inline-block;
	  padding: 10px;
	  text-align: left;
	}
	.micro-header-center {
	  width: 100%;
	}
	.micro-header-left {
	  width: 30em;
	}
	
	.micro-header h1{
		font-size: 24px;
		font-weight: 400;
	}
	
	/* CONTENT */
	.microportlet-body{
		width: 30em;
	}
	
	.micro-section {
	  padding: 16px;
	  width: 100%;
	}
	
	/* ACTION */
	.micro-footer {
	  background-color: transparent;
	  display: inline-block;
	  height: 48px;
	  margin: 24px 12px 8px;
	  text-align: right;
	}
	
	.micro-footer-center {
	  width: 100%;
	}
	.micro-footer-left {
	  width: 30em;
	}
	
	.button:link,
	.button:visited {
	  display: inline-block;
	  height: 36px;
	  line-height: 36px;
	  margin: 4px;
	  max-width: 88px;
	  min-width: 64px;
	  padding: 0 8px;
	  text-align: center;
	  vertical-align: middle;
	}
	.button:hover,
	.button:active {
	  background-color: rgba(153, 153, 153, 0.2);
	  text-decoration: none;
	}
	
	
}
/* 2 END */


