@import "compass";
@import "mixins";

@import url(core/color_schemes/core-1/so-essential.css);
@import url(core/color_schemes/core-2/so-essential.css);

 $maincolor: #38ADC7;
 $maincolor-dark: #008AA9;
 $maincolor-light: #88CEDD;
 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;

/*************************DOCKBAR*/
html.aui body[class*="core"] .navbar-fixed-top .navbar-inner, 
html.aui body[class*="core"] .navbar-static-top .navbar-inner {
  box-shadow: none;
}

html.aui body[class*="core"] #_145_navSiteNavigation {
  display: none;
}

html.aui body[class*="core"] .dockbar .nav li.dropdown .dropdown-menu > li > a, 
html.aui body[class*="core"] .dockbar .nav li.dropdown .site-administration-menu > li > a {
/*   color: #fff; */
  font-size: 0.9em;
  font-weight: 300;
}

html.aui body[class*="core"] .navbar .nav > li > .dropdown-menu::before, 
html.aui body[class*="core"] .navbar .nav > li > .dropdown-menu::after {
  border: 0 none;
}
			
/*************************HEADER*/


html.aui body[class*="core"] #banner {
/*   background-color: transparent; */
  border: medium none;
  padding: 0;
}


html.aui body[class*="core"] #heading .site-title {
  display: block;
  font-size: 38.5px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
}

html.aui body[class*="core"] .logo, .aui .logo:hover {
/*   color: #333; */
  line-height: 20px;
}

html.aui body[class*="core"] h2.page-title {
/*   background-color: #fff; */
/*   border-bottom: 1px solid $maincolor; */
/*   border-top: 1px solid $maincolor; */
  margin: 0;
  padding: 0 10px;
}
html.aui body[class*="core"] h2.page-title {
/*   background-color: #fff; */
/*   border-bottom: 1px solid $maincolor; */
/*   border-top: 1px solid $maincolor; */
  font-family: roboto;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

html.aui body[class*="core"] h2.page-title a.avatar {
  display: inline-block;
  height: 64px;
  width: auto;
}
html.aui body[class*="core"] h2.page-title a.avatar > img {
  height: 100%;
  width: auto;
}

html.aui body[class*="core"] a#gotoHome {
/*   background: none repeat scroll 0 0 $maincolor; */
  border: 0 none;
/*   color: white; */
  border-radius: 0;
  font-size: 18px;
  font-weight: normal;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  transform: translate3d(1em, 1.7em, 0px);
  -webkit-transform: translate3d(1em, 1.7em, 0px);
  -moz-transform: translate3d(1em, 1.7em, 0px);
  -o-transform: translate3d(1em, 1.7em, 0px);
  -ms-transform: translate3d(1em, 1.7em, 0px);
  width: 2em;
  z-index: 302;
}

html.aui body[class*="core"] a#gotoHome:hover, 
html.aui body[class*="core"] a#gotoHome:active {
/*   background: none repeat scroll 0 0 $maincolor; */
/*   color: $maincolor-dark; */
  font-weight: 200;
  text-decoration: none;
}
html.aui body[class*="core"] .so-portlet-user-bar a.so-logo{
	display: none;
}

html.aui body[class*="core"] .menu-button,
html.aui body[class*="core"] .menu-wrap {
	transform: translate3d(3.5em, 1.7em, 0px);
	-webkit-transform: translate3d(3.5em, 1.7em, 0px);
	-moz-transform: translate3d(3.5em, 1.7em, 0px);
	-o-transform: translate3d(3.5em, 1.7em, 0px);
	-ms-transform: translate3d(3.5em, 1.7em, 0px);
}
html.aui body[class*="core"] .icon-reorder::before{
	content: "\f142";
}
html.aui body[class*="core"] button#showHideSearch,
html.aui body[class*="core"] button#showHideSearch:active {
  transform: translate3d(6em, 1.7em, 0px);
  -webkit-transform: translate3d(6em, 1.7em, 0px);
  -moz-transform: translate3d(6em, 1.7em, 0px);
  -o-transform: translate3d(6em, 1.7em, 0px);
  -ms-transform: translate3d(6em, 1.7em, 0px);
}
html.aui body[class*="core"] .control-button {
  transform: translate3d(8.5em, 1.7em, 0px);
  -webkit-transform: translate3d(8.5em, 1.7em, 0px);
  -moz-transform: translate3d(8.5em, 1.7em, 0px);
  -o-transform: translate3d(8.5em, 1.7em, 0px);
  -ms-transform: translate3d(8.5em, 1.7em, 0px);
}

/***********************NAVIGATION*/

html.aui body[class*="core"] .menu-button:hover, 
html.aui body[class*="core"] .menu-button.pressed {
/*   background: none repeat scroll 0 0 $maincolor; */
/*   color: $maincolor-dark; */
}

#navigation h1 {
	display: none;
}

html.aui body[class*="core"] #navigation ul {
/*   display: block; */
/*   float: left; */
	height: 100%;
    left: 0;
    list-style: outside none none;
    margin: 0 10px 0 0;
    position: relative;
    width: 100%;
  
  display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}

html.aui body[class*="core"] #navigation ul li {
  float: left;
  line-height: 27px;
  position: relative;
  
  -webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
}

html.aui body[class*="core"] #navigation ul li a,
html.aui body[class*="core"] #navigation ul li a:active, 
html.aui body[class*="core"] #navigation ul li a:focus  {
  border: 0 none;
/*   color: $maincolor; */
  font-weight: inherit;
  margin: 14px 8px 0;
  max-width: 60px;
  padding: 4px 15px 5px;
  text-align: center;
  text-shadow: none;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.4s, 0.4s, 0.4s;
  transition-property: all;
}
html.aui body[class*="core"] #navigation ul li a:hover {
/*   background: none repeat scroll 0 0 transparent; */
/*   color: #FFFFFF; */
  text-decoration: none;
}

html.aui body[class*="core"] #navigation ul li a span {
  line-height: 20px;
  margin: 5px 0 0;
  position: relative;
  white-space: pre-line;
  word-break: initial;
}

html.aui body[class*="core"] #navigation li.selected {
  border: 0 none;
/*   color: #fff; */
}

html.aui body[class*="core"] #navigation li.selected a {
/*   background: none repeat scroll 0 0 rgba(255, 255, 255, 0); */
  box-shadow: none;
/*   color: #fff; */
}



/*************************CONTENT*/

html.aui body[class*="core"] #main-content {
/*   background: none repeat scroll 0 0 rgba(0, 0, 0, 0); */
  border-bottom: 0 none;
  border-left: 0 none;
  box-shadow: none;
  margin: 0;
}

html.aui body[class*="core"] .portlet-column-content {
/*   border: 0 solid #d9d8d8; */
  margin: 10px;
  padding: 0;
}